* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  top: 0;
}

nav div {
  height: 56px;
}

/* nav 1- Logo/input---------------------------------- */
nav .nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  position: relative;
  height: 56px;
}

nav input {
  border-radius: 25px;
  font-size: 1.25em;
  width: 90%;
  padding: .19em .5em;
}

/* HamburgerMenu--------------------------------------- */
nav .hamburger {
  position: relative;
  height: 56px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5em 1em .5em 1em;
}

nav .nav1 ul {
  position: fixed;
  list-style: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  transform: 5s;
}

nav #hetmenu {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  padding: 3.5px 3.5px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

nav .hamburgermenu {
  transform: translateX(0);
}

#expandednav {
  position: fixed;
  background-color: #26272b;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 101;
  text-decoration: none;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#expandednav, ul, li, a {
  color: white;
  text-decoration: none;
  list-style: none;
  text-align: center;
  letter-spacing: .1em;
  margin-bottom: 2em;
  padding: 8px 8px;
  transition: .4s;
}

#expandednav, ul, li, a:hover {
  color: dodgerblue;
}

.showexpandednav {
  transform: translateY(0%) !important;
}

#closemenu {
  width: 30px;
  right: 0;
  position: absolute;
  right: 70px;
  top: 0;
}

#closemenu svg {
  fill: white;
  transition: .3s;
}

#closemenu svg:hover {
  fill: red;
  transform: scale(1.2) rotate(360deg);
}

#closemenu svg:active {
  fill: green;
  transform: scale(.6) rotate(-360deg);
}

/* nav 2 - Home/Explore/Brands/Gallery--------------------- */
nav .nav2 ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

nav .nav2 ul li {
  padding: 1em;
  list-style-type: none;
}

nav .nav2 ul li a {
  text-decoration: none;
  color: #9a9a9a;
  transition: .3s;
}

nav .nav2 ul li a:hover {
  color: black;
}
nav .nav2 ul li a:active {
  font-weight: 400;
  font-size: 25px;
  color: black;
}

main {
  margin-top: 110px;
}

/* Homepage - openingstekst en form---------------------------------------- */
#welkom {
  position: relative;
  background-image: url(../images/welkombg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#welkom .overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .3;
}

#welkom div:nth-child(2) {
  position: relative;
  padding: 10em 0 10em 0;
}

#welkom input {
  width: 100%;
  left: 0%;
  right: 0%;
  margin: 2em 0 2em 0;
  padding: .4em;
  border-radius: 15px;
  background-color: white;
  transform: translateX(0%);
}

#welkom h1,
h2,
p {
  color: white;
}

#welkom .tekst {
  margin: 2em;
  text-align: center;
}

#welkom h1 {
  font-size: 2em;
  text-align: center;
}

#welkom h2 {
  font-size: 1.3em;
  text-align: center;
}

#welkom a {
  color: white;
  text-decoration: none;
  list-style: none;
}

#welkom .bottom {
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0;
  text-align: center;
  opacity: 75%;
}

/* Foto's en titels op Homepage---------------------------------------- */
#fotos {
  display: flex;
  flex-direction: column;
}

#fotos div {
  position: relative;
  width: 90%;
  margin: 5% 5% 5% 5%;
  overflow: hidden;
}

#fotos div img {
  position: relative;
  width: 100%;
}

#fotos div p {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 1.5em;
  font-weight: 280;
  color: white;
  background-color: grey;
  border-radius: 10px;
  padding: .25em;
  margin-top: 3.5px;
}

#fotos div p span {
  color: red;
  font-style: italic;
}

#fotos div:nth-child(2) p span {
  color: #2D50FF;
  font-style: italic;
}

#fotos div:nth-child(3) p span {
  color: #FFD606;
}

#fotos div:nth-child(4) p span {
  color: #FFD606;
}


/* Explorepagina---------------------------------------- */
#onderwerpen .tekste {
  margin: 2em 2em 2em 2em;
  text-align: center;
}

#onderwerpen .tekste {
  margin: 2em;
  text-align: center;
  color: #737373;
}

#onderwerpen h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 5% 5% 5% 5%;
  color: black;
}

#onderwerpen h2 {
  font-size: 1em;
  text-align: center;
  margin: 5% 5% 5% 5%;
  color: #737373;
}

#onderwerpen h3 {
  font-size: 1.5em;
  padding-top: 3.5em;
  padding-bottom: 0;
  text-align: center;
  margin: 5% 5% 5% 5%;
  color: black;
}

#onderwerpen, .background img {
  position: relative;
  width: 90%;
  padding-top: 2em;
  margin: 2% 5% 2% 5%;
}

/* Explorepagina - Woorden: Background, Images & Wallpapers------------------ */
#fotos2 {
  display: flex;
  flex-direction: column;
}

#fotos2 div {
  position: relative;
  width: 90%;
  margin: 5% 5% 5% 5%;
  overflow: hidden;
}

#fotos2 div img {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

#fotos2 div .imagecontainer {
  position: relative;
  width: 100%;
  margin: 0;
}

#fotos2 div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  text-align: center;
  color: white;
}

/* H4 & H5 explorepagina,  onder de afbeeldingen-------------------------- */
#fotos2 h4 {
  padding-top: 1em;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
}

#fotos2 h5 {
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  border-radius: 2px;
  line-height: 25px;
  color: black;
  background-color: lightgrey;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 1.5em;
  border-radius: 1.1em;
}


/* Footer website------------------------------------ */
.site-footer {
  background-color: #26272b;
  padding: 1em 4em 1em 4em;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.site-footer h6 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.footer-links {
  margin-top: 2.5em;
  text-decoration: none;
  list-style: none;
}

footer p{
  font-size: 14px;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: dodgerblue;
}





/* Media-Queries- 800/1000/1400---------------------------------- */
@media only screen and (min-width: 800px) {
  nav input {
    font-size: 1.4em;
  }
  nav .nav2 ul li a {
    font-size: 18px;
  }
  nav #hetmenu {
    font-size: 17px;
  }
  nav .logo {
    height: 59px;
  }
  #welkom h1 {
    font-size: 30px;
  }
  #welkom .tekst {
    font-size: 18px;
  }
  #welkom .bottom {
    font-size: 20px;
  }
  #welkom p {
    font-size: 20px;
  }
  #welkom input{
    font-size: 18px;
  }
  #fotos {
    display: grid;
    grid-template-columns: repeat(2, 26em);
    margin: 10px 5px 10px 5px;
    width: 90%;
  }
  #fotos div p {
    font-size: 1.5em;
    font-weight: 380;
    color: white;
    background-color: grey;
  }
  #onderwerpen .tekste {
    font-size: 20px;
  }

  #fotos2{
    display: grid;
    grid-template-columns: repeat(2, 27em);
    width: 100%;
    margin-left: 20px;

  }
  #fotos2 div .imagecontainer {
    width: 100%;
    margin: 0;
  }
  .site-footer h6 {
    font-size: 20px;
  }

  .footer-links {
    display: flex;
    font-size: 15px;
  }
  footer p{
    font-size: 16px;
  }

}

@media only screen and (min-width: 1000px) {
  nav input {
    font-size: 1.6em;
  }

  nav .nav2 ul li a {
    font-size: 20px;
  }

  nav #hetmenu {
    font-size: 19px;
    margin-right: 35px;
  }

  nav .logo {
    height: 64px;
  }

  #welkom h1 {
    font-size: 35px;
  }

  #welkom .tekst {
    font-size: 20px;
  }

  #welkom .bottom {
    font-size: 22px;
  }

  #fotos {
    display: grid;
    grid-template-columns: repeat(2, 34.5em);
    margin: 10px 5px 10px 5px;
  }

  #fotos div p {
    font-size: 2em;
    font-weight: 300;
    color: white;
    background-color: grey;
  }
  #onderwerpen .tekste {
    font-size: 22px;
  }
  #fotos2{
    display: grid;
    grid-template-columns: repeat(2, 28em);
    width: 100%;
    margin-left: 160px;

  }
  #fotos2 div .imagecontainer {
    width: 100%;
    margin: 0;
  }
  .site-footer h6 {
    font-size: 23px;
  }
  footer p{
    font-size: 18px;
  }

}

@media only screen and (min-width: 1400px) {
  nav input {
    font-size: 1.65em;
  }

  nav .nav2 ul li a {
    font-size: 22px;
  }

  nav #hetmenu {
    font-size: 25px;
    margin-right: 80px;
  }

  nav .logo {
    height: 75px;
  }

  #welkom h1 {
    font-size: 40px;
  }

  #welkom .tekst {
    font-size: 22px;
  }

  #welkom .bottom {
    font-size: 24px;
  }

  #fotos {
    display: grid;
    grid-template-columns: repeat(2, 53em);
    margin: 5px 5px 5px 5px;
    padding-left: 65px;
  }
  #onderwerpen .tekste {
    font-size: 24px;
  }
  #fotos2{
    display: grid;
    grid-template-columns: repeat(2, 40em);
    width: 100%;
    margin-left: 100px;

  }
  #fotos2 div .imagecontainer {
    width: 100%;
    margin: 0;
  }
  .site-footer h6 {
    font-size: 25px;
  }

  footer p {
    fontsize: 16px;
  }
  .footer-links {
    text-align: center;
    font-size: 22px;
  }
}
}
